<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="HeartRateZones" value="120,140,173,182" /><!-- Comma-separated list of heart rate zone boundaries -->
	<add key="PaceBins" value="8:45,7:15,6:10" /><!-- Comma-separated list with MM:SS -->
	<add key="FilePattern" value="*_Running.gpx" />
	<add key="AveragingPeriod" value="15" /><!-- seconds-->
	<add key="SlowestDisplayedPace" value="0:12:00" /><!-- H:MM:SS -->
	<add key="MaximumDisplayedSlope" value="30" /><!-- percent -->
	<add key="RunStatsCacheFile" value="GpxRunParser.Cache.json" />
	<add key="AggregateSamplingPeriod" value="0:01:00" /><!-- H:MM:SS -->
	<add key="MinifyHtmlFiles" value="true" />
</appSettings>